<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <link rel="stylesheet" href="styles.css" />
    <title>Title</title>
  </head>

  <body>
    <h1>DOOZ IS LIFE!</h1>

    <div class="board-page">
      <div class="board">
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
      </div>
      <div class="playing-info"></div>
      <button class="leave-button">leave</button>
    </div>

    <div class="users-page">
      <h4 class="users-message">Tell your friends to visit the website and play together!</h4>
      <h3>online users:</h3>
      <div class="users"></div>
    </div>

    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
    <script src="main.js"></script>
  </body>
</html>
